/* 02_home.css */
/* 아래에 코드를 작성해 주세요. */
h1 {
    padding: 10px;
    width: 100%;
    text-align: center;

}footer {
    position: fixed;
    float: left;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    bottom: 0;
}
